{% extends 'base.html' %}
{% load static %}
<!--Banner start-->
{% block banner_slider %}

{% endblock banner_slider %}
<!--Banner End-->

<!--Main section start-->

{% block main-content %}
<a href="/index"><h2><i class="ms-4 bi bi-arrow-left-circle"></i></h2></a>
<div class="container mt-5">
    <br>
    <marquee>
        <h2 class="text-center">About Us</h2>
    </marquee>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            Online shopping is the latest and greatest craze in the history of the internet, it’s fantastic!
            You can sit in the comfort of your own home, being as daggy-looking as you like and shop for all your pantry
            needs or buy that dress you’d
            like to wear out this weekend, its takes shopping to a whole new level. So we are launch Our Cloth Website
            Namely as <b>Beauty Fashion Store</b>
            to shop various types of outfits.
        <h3 class="fw-bold text-center text-dark" style="font-style: italic;">Welcome to the Beauty Fashion Store</h3>
        </p>
    </div><br><br>
</div>

{% endblock main-content %}

<!--Main section end-->